<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#"><img src="../../../assets/img/4.png" width="30" height="30" class="d-inline-block align-top" alt="">AngularAppRoute</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="../../../assets/img/Pokeball.PNG" width="40" height="40" class="d-inline-block align-top">
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="talleres">Talleres</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="matriculas">Matriculados</a>
            </li>
         
        </ul>
        <div class="logo my-2 my-lg-0">
            <img src="../../../assets/img/AngularJS-Shield.svg" width="40" height="40" class="d-inline-block align-top">
        </div>
    </div>
</nav>