  
.frm{
    font-weight: bolder;
}

span{
    background-color: gold;
    border-color:black;
    min-width: 120px;
}

.ff{
    background-color: gray;
    font-weight:bolder;
    pointer-events: none 
    
}